ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 200px;
    background-color:#F5F5F5;
    border: double ;

}
li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-align:center;
    text-decoration: none;
    last-child: none


}
li a:hover {
     background-color: darkgrey;
     color: yellow;

}
